In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from spcqe.quantiles import SmoothPeriodicQuantiles

In [6]:
def process_excel_file(file_name, year):
    # Check if the year is a leap year
    is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
    
    # Define the start and end of your time range
    start = pd.Timestamp(f'{year}-01-01 00:00:00')
    end = pd.Timestamp(f'{year}-12-31 23:00:00')
    
    # Create an hourly time index between start and end
    time_index = pd.date_range(start, end, freq='H')
    
    # Read the Excel file and select columns
    df = pd.read_excel(file_name, sheet_name='RI', usecols=['RT_Demand', 'Dry_Bulb', 'RT_LMP'])
    
    # Assign your new time index to your dataframe
    df.index = time_index
    
    return df

#years = [2019, 2020, 2021, 2022]
years = [2019, 2020]
paths = [Path() / 'notebooks'/ 'fixtures' / f'{year}_smd_hourly.xlsx' for year in years]
df_list = [process_excel_file(path, year) for (path, year) in zip(paths, years)]

df = pd.concat(df_list)
df

                     RT_Demand  RT_LMP  Dry_Bulb
2019-01-01 00:00:00    723.322   35.90        42
2019-01-01 01:00:00    688.771   38.81        44
2019-01-01 02:00:00    660.226   21.32        44
2019-01-01 03:00:00    642.773   18.52        46
2019-01-01 04:00:00    638.376    7.57        49
...                        ...     ...       ...
2020-12-31 19:00:00    955.129   28.99        39
2020-12-31 20:00:00    911.699   25.14        38
2020-12-31 21:00:00    870.142   41.10        37
2020-12-31 22:00:00    833.948   37.21        36
2020-12-31 23:00:00    793.230   46.49        34

[17544 rows x 3 columns]

In [5]:
print(Path())

.